# Core UI and App
starlette
fastapi
gunicorn==21.2.0
uvicorn[standard]==0.30.6

# LangChain + OpenAI
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.0.8
langchain-text-splitters==0.0.2
openai

# Tooling and HTTP
requests
python-dotenv

# Payment
paypal-agent-toolkit
paypalrestsdk
stripe
pydantic
pydantic[email]

