# Core UI and App
fastapi
uvicorn[standard]
gunicorn
starlette


# your libs
langchain-openai
# LangChain + OpenAI
langchain
langchain-openai
openai

# Tooling and HTTP
requests
python-dotenv

# Payment
paypal-agent-toolkit
paypalrestsdk
stripe
pydantic
pydantic[email]
